<div class="content">
  <span class="category">Игры</span>
  <span class="templateName">League of Legends</span>

  <div class="box" [ngClass]="{off: messagesBlock.required == false}">
    <div class="boxHead">
      <div>
        <div class="toggleWrapper">
          <input type="checkbox" name="toggleHead" class="mobileToggle" id="toggleHead" checked
                 [checked]="messagesBlock.required == true" (change)="messagesBlock.required = !messagesBlock.required">
          <label for="toggleHead"></label>
        </div>
        <span>{{messagesBlock.name}}</span>
      </div>
      <div>
        <input #chatMessagesSpoiler hidden="hidden" checked="checked" type="checkbox"/>
        <img class="spoilerToggle" src="assets/icons/spoiler-big-icon.svg" alt="" (click)="toggleSpoiler(chatMessagesSpoiler, chatMessages, $event)">
      </div>
    </div>
    <div #chatMessages class="spoilerContent">

      <hr>

      <div class="messageDelay">
        <div><span>Задержка сообщений</span></div>
        <div><input [(ngModel)]="messagesBlock.delay"><span style="margin-left: 15px">мс</span></div>
      </div>
      <div class="cardRow">
        <div class="card" *ngFor="let messageToChat of messagesBlock.messages, let i = index" [ngClass]="{off: messageToChat.required == false}" >
          <div class="head">
            <div class="left">
              <span class="name">{{messageToChat.name}}</span>
            </div>
            <div class="right">
              <div class="settings">
                <img src="assets/icons/settings-icon.svg" alt="">
              </div>
              <div class="toggleWrapper">
                <input type="checkbox" name="toggle{{i}}" class="mobileToggle" id="toggleCardMessage{{i}}"
                       [checked]="messageToChat.required == true" (change)="messageToChat.required = !messageToChat.required">
                <label for="toggleCardMessage{{i}}"></label>
              </div>
            </div>
          </div>
          <div class="content">
            {{messageToChat.message}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
