.content{
  margin-left: 50px;
  display: grid;
}

.category{
  width: 54px;
  height: 26px;
  /* UI Properties */
  text-align: left;
  font: normal normal 300 20px/26px Roboto;
  letter-spacing: 0;
  color: #FFFFFF8C;
  text-transform: uppercase;
}

.templateName{
  margin-top: 10px;
  width: 374px;
  height: 59px;
  text-align: left;
  font: normal normal 300 45px/59px Roboto;
  letter-spacing: 0;
  color: #FFFFFF;
}

.box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 40px;
  width: 1196px;
  background: #520184 0 0 no-repeat;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
  padding-bottom: 35px;
  padding-left: 35px;
  padding-right: 35px;
  color: #FFFFFF;

}

.card{
  display: flex;
  flex-direction: column;
  margin-left: 25px;

  padding: 32px 30px 0 30px;
  width: 322px;
  height: 144px;
  /* UI Properties */
  background: #220236 0 0 no-repeat;
  border-radius: 8px;

  transition: 0.3s all ease;
}

.card:first-child{
  margin-left: 0;
}

.card:nth-child(n+4){
  margin-left: 0;
}

.card .head .name{
  width: 160px;
  height: 30px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 23px/30px Roboto;
  letter-spacing: 0;
}

.card .content{
  margin-top: 24px;
  margin-left: 0;
  width: 322px;
  height: 66px;
  text-align: left;
  font: normal normal 300 23px/30px Roboto;
  letter-spacing: 0;
  color: #FFFFFFBF;
}

.cardRow{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.messageDelay{
  margin-top: 24px;
  margin-left: 15px;
}

.messageDelay span{
  width: 241px;
  height: 28px;

  text-align: left;
  font: normal normal normal 23px/28px Roboto;
  letter-spacing: 0;
  color: #FFFFFF;
}

.messageDelay input{
  width: 121px;
  height: 40px;
  /* UI Properties */
  background: #FFFFFF 0 0 no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;

  margin-top: 10px;
  padding-left: 13px;
  text-align: left;
  font: normal normal normal 23px/28px Roboto;
  letter-spacing: 0;
  color: #000000;
}

.box hr{
  margin-left: 0;
  margin-top: 21px;
}

.boxHead{
  margin-top: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxHead div{
  display: flex;
  flex-direction: row;
  align-self: center;
}

.boxHead span{
  margin-left: 20px;
  text-align: left;
  align-self: center;
  font: normal normal bold 25px/33px Roboto;
  letter-spacing: 0;
}

.card .head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.card .head .left{
  align-self: center;
}

.card .right{
  display: flex;
  flex-direction: row;
}

.card .settings{
  cursor: pointer;
}

.card .toggleWrapper{
  margin-left: 10px;
}

.box.off{
  opacity: 0.75;
}

.card.off{
  opacity: 0.65;
}

.box.off .card{
  opacity: 0.65;
}



