<nav>

  <div class="main">
    <img src="assets/pictures/Иконка.png" alt="">
    <span>BloodTrail</span>
  </div>

  <div class="menu">

    <div class="panel">
      <img src="assets/icons/option-panel-icon.svg" alt="">
      <a routerLink="/panel">Панель управления</a>
    </div>
    <div class="menuOption" *ngFor="let piece of navbar; let i = index">

      <div class="optionName">
        {{piece.name}}:
      </div>

      <div class="altMenu">
        <div class="altOption" *ngFor="let option of piece.options" >
          <div class="icon">
            <img src="{{option.img}}" alt="">
          </div>
          <div class="name">
            <a routerLink="{{option.selector}}">
              {{option.name}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</nav>
